* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: #2b2d42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    width: 100%;
    color: #fff;
    position: fixed;
    z-index: 1;
}
header h1{
    font-size: 30px;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav > ul > li >  a {
    color: #fff;
}
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/pexels-heyho-6782424 (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    color: #fff;
    height: 100vh;
    padding-top: 50px;
}
#home > h2{
    font-size: 40px;
}
section h2{
    font-size: 28px;
}
#home > a{
    color: #fff;
    padding: 8px 18px 8px 18px;
    border-radius: 6px;
    background-color: #d90429;
    font-weight: bold;
    font-size: 18px;
}
.servicios{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2pc;
  }
.serv img {
    width: 300px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#services {
    display: flex;
    margin: 60px auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
.serv {
    text-align: center;
    margin: 18px auto;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    color: #000;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
}
.tarjeta {
    width: 280px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin: -14px auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 1px 4px 0px gray;
}
.tarjeta h4{
    color: #023047;
    font-size: 18px;
}
#us{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 40px;
    margin-top: 80px;
    gap: 1pc;
    background-color: rgba(218, 217, 217, 0.428);
}
#us img{
    width: 40%;
    border-radius: 10px;
    margin-right: 60px;
}
.container-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin-right: 20px;
    margin-left: 60px;
}
.container-us > a, #precio > a{
    color: #fff;
    padding: 8px 18px 8px 18px;
    border-radius: 6px;
    background-color: #d90429;
    font-weight: bold;
    width: 20%;
    text-align: center;
}
.container-us > h4{
    font-size: 20px;
}
#precio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    font-size: 16px;
}
#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    padding: 40px;
    gap: 16px;
    background-color: rgba(218, 217, 217, 0.428);
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 28%;
    box-shadow: 0px 0px 4px 0px gainsboro;
}
input,
textarea {
  border-radius: 2px;
  border: none;
  padding: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px grey;
}
input,
textarea:focus{
  outline: none;
}
button{
    cursor: pointer;
    background-color: #d90429;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
}
footer{
    background-color: #2b2d42;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px 8px 18px 8px;
}
footer > div{
    display: flex;
    gap: 1pc;
}
.serv:hover, .tarjeta:hover{
    filter: brightness(70%);
}
nav > ul > li >  a:hover{
    color: #fcbf49;
    border-bottom: 1px solid #fcbf49;
}
#home > a:hover, .container-us > a:hover, #precio > a:hover, button:hover{
    background-color: #b80321;
}
@media screen and (max-width: 576px){
    #home{
        width: 100%;
        padding-top: 100px;
        padding: 10px;
    }
    #home > h2{
        font-size: 28px;
    }
    #home > a{
        font-size: 16px;
    }
    .servicios{
        grid-template-columns: auto;
    }
    .serv img{
        width: 280px;
    }
    .tarjeta{
        width: 259px;
    }
    #us{
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 10px;
        justify-content: normal;
    }
    #us img{
        width: 70%;
        margin: 0;
    }
    form{
        width: 70%;
    }
    .container-us > a, #precio > a{
        width: 44%;
    }
    .container-us{
        align-items: center;
        margin: 0;
    }
    #contact{
        padding: 20px;
    }
    footer{
        font-size: 12px;
    }
    h4, h2{
        font-size: 24px;
    }
    header{
        flex-direction: column;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul li{
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    .servicios{
        grid-template-columns: auto;
    }
    .serv img{
        width: 280px;
    }
    .tarjeta{
        width: 259px;
    }
    #us img{
        width: 50%;
        margin: 0;
    }
    .container-us {
        margin-right: 0;
        margin-left: 0;
    }
    .container-us > a{
        width: 40%;
    }
    form{
        width: 50%;
    }
    header{
        flex-direction: column;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul li{
        margin: 0;
    }
}
@media screen and (max-width: 992px) {
    #home{
        padding: 10px;
        padding-top: 180px;
        text-align: center;
    }
    .servicios{
        grid-template-columns: auto;
    }
    .serv img{
        width: 280px;
    }
    .tarjeta{
        width: 259px;
    }
    form{
        width: 48%;
    }
    #us img{
        width: 50%;
        margin: 0;
    }
    .container-us {
        margin-right: 0;
        margin-left: 0;
    }
    .container-us > a{
        width: 40%;
    }
}
@media screen and (min-width: 1200px) {
    
}